#root {
  background-color: pink;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: blueviolet;
}
.app {
  border-radius: 2px solid black;
  width: 500px;
}
button {
  background-color: black;
  color: white;
  height: 35px;
  width: 50px;
  border-radius: 10px;
}
.clock {
  padding: 20px;
  background-color: black;
  color: white;
  margin-left: 180px;
  border-radius: 10px;
  width: 500px;
}
#start_stop {
  background-color: green;
}
#reset {
  background-color: red;
}
